<mat-toolbar color="primary">
  <button  mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
<span> <a routerLink="/"> Progressional Fitness</a></span>
<span class="spacer"></span>
 <ul>
   <li *ngIf="userIsAuthenticated">
     <a mat-raised-button color="primary" routerLink="/create" routerLinkActive="mat-accent">New Post</a>
   </li>
   <li *ngIf="!userIsAuthenticated">
    <a mat-raised-button color="primary" routerLink="/login" routerLinkActive="mat-accent">Login</a>
  </li>
  <li *ngIf="userIsAuthenticated && router.url !='/fitness' ">
    <a mat-raised-button color="primary" routerLink="/fitness" routerLinkActive="mat-accent">My Account</a>
  </li>
  <li *ngIf="!userIsAuthenticated">
    <a mat-raised-button color="primary" routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button (click)="onLogout()" routerLink="/" mat-button >Logout</button>
  </li>
 </ul>
</mat-toolbar>
<mat-sidenav-container *ngIf="user"  class="example-container" >
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item routerLink="/posts">Posts</a>
				<a *ngIf="user.role == 'admin'" mat-list-item routerLink="/clients">Clients</a>
				<a mat-list-item routerLink="/myworkouts">My Workouts</a>
				<a mat-list-item routerLink="/workouts">Workouts</a>
				<a mat-list-item routerLink="/programs">Programs</a>
				<!-- <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div> -->
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
  <router-outlet></router-outlet>

	</div>


</mat-sidenav-container>
