
ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}

.toolBar{
  background-color: black;
}

.navLinks{
font-size: 1rem;
}
.navLinks:hover{

}
.navLinkHolder:hover{
  text-decoration: underline solid white 5px;

}

.example-container {
height: 100%;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
