<div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="d-flex justify-content-between mx- 2">
    <button class="" mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button  *ngIf="mode == 'edit' " class="" mat-icon-button color="warn" (click)="openDeleteWorkout(workoutDelete)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>

  <form *ngIf="!isLoading" [formGroup]="workoutForm">
    <mat-card class="m-3">
      <div class="row m-3">


        <mat-form-field class="col-sm-6" appearance="outline">
          <mat-label>Workout Name</mat-label>
          <input matInput formControlName="workoutName" type="text" placeholder="Workout Name">
          <mat-error *ngIf="workoutForm.get('workoutName').invalid"> Please enter a workout name. </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-6" appearance="outline">
          <mat-label>Workout date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker3" [value]="date.value">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-sm-6" *ngIf="workoutType != 'personal'" appearance="fill">
          <mat-label>Clients</mat-label>
          <mat-select formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.firstName}} {{user.lastName}} ({{user.email}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-6" *ngIf="workoutType != 'personal'" appearance="fill">
          <mat-label>Programs</mat-label>
          <mat-select formControlName="program">
            <mat-option *ngFor="let program of programs" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

    </mat-card>

    <div formArrayName="workoutItems">
      <div *ngFor="let item of workoutItems.controls; let i = index" [formGroupName]="i">
        <mat-card class="m-3">

          <mat-card-content>
            <mat-form-field appearance="fill">
              <input matInput formControlName="name" type="text" placeholder="Workout Item Name">

            </mat-form-field>
            <br>
            <mat-form-field class="formText" appearance="fill">
              <textarea style="white-space: pre-wrap;" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                rows="5" cols="40" formControlName="description" type="text" placeholder="description"> </textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="formText" appearance="fill">
              <textarea style="white-space: pre-wrap;" rows="2" cols="40" matInput formControlName="comments"
                type="text" placeholder="comments"> </textarea>
            </mat-form-field>
            <!-- <button style="float: right;" color="warn" (click)="openDelete(template, i, item)" mat-raised-button>
              Remove Item
            </button> -->
            <button class="mx-2 float-end" mat-icon-button color="warn" (click)="openDelete(template, i, item)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <button class="ms-3" mat-raised-button (click)="addItem()">Add Item</button>



    <mat-card class="m-3">
      <!-- <h2>Update Workout!</h2> -->
      <button mat-raised-button color="primary" (click)="onSavePost()">
        {{mode == 'edit' ? 'Update Workout' : 'Create Workout'}}
      </button>
    </mat-card>
  </form>


</div>

<ng-template #template let-data>
  <div class="m-2">

    <h3> Delete {{data.item.value.name}} </h3>
    <p> Are you sure you want to delete this workout item?</p>
    <div class="d-flex justify-content-between">
      <button mat-raised-button mat-dialog-close color="danger">Cancel</button>
      <button mat-raised-button color="danger" color="warn"
        (click)="removeWorkoutItem(data.index, data.item.value._id)">Delete</button>
    </div>
  </div>

</ng-template>

<ng-template #workoutDelete let-data>
  <div class="m-2">

    <h3> Delete {{data.workout.name}} </h3>
    <p> Are you sure you want to delete this workout?</p>
    <div class="d-flex justify-content-between">
      <button mat-raised-button mat-dialog-close color="danger">Cancel</button>
      <button mat-raised-button color="danger" color="warn"
        (click)="deleteWorkout()">Delete</button>
    </div>
  </div>

</ng-template>