<!-- <mat-card>
  <mat-form-field>
    <mat-label matInput
    [(ngModel)]="user.firstName"
    value="{{user.firstName}}"
    >

    </mat-label>
  </mat-form-field>

</mat-card> -->



<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <button [routerLink]="['/clients']" class="m-2" mat-raised-button color="warn">Back</button>

  <form *ngIf="!isLoading" [formGroup]="form" (submit)="onSavePost()" >
    <mat-form-field>
      <input matInput

      formControlName="firstName"
       type="text"
       placeholder="First Name">
       <mat-error *ngIf="form.get('firstName').invalid" > Please enter a first name. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput

      formControlName="lastName"

       type="text"
       placeholder="last Name ">
       <mat-error *ngIf="form.get('lastName').invalid" > Please enter a first name. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
      formControlName="email"
       type="text"
       placeholder="Email">
       <mat-error *ngIf="form.get('email').invalid" > Please enter a first name. </mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Role</mat-label>
      <mat-select
      formControlName="role">
        <mat-option value="client">Client</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('role').invalid" > Please select a Role </mat-error>

    </mat-form-field>


    <!-- <mat-form-field>
      <input
      matInput
      type="text"
       formControlName="lastName"
       placeholder="Last Name">
       <mat-error *ngIf="form.get('lastName').invalid" > Please enter content. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="email"
       formControlName="email"
       placeholder="Email">
       <mat-error *ngIf="form.get('email').invalid" > Please enter email. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="text"
       formControlName="role"
       placeholder="Role">
       <mat-error *ngIf="form.get('role').invalid" > Please enter email. </mat-error>
    </mat-form-field> -->
    <h2>Update Client!</h2>
    <button mat-raised-button
    color="accent"
    type="submit">Save Client</button>
  </form>

</mat-card>
