<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="workouts && !isLoading">
  <div class="d-flex justify-content-between m-2">
    <button [routerLink]="['/fitness']" mat-raised-button color="warn">Back</button>
    <button mat-raised-button color="primary" routerLink="/workout" [queryParams]="{type: 'personal'}"  routerLinkActive="mat-accent"> Create Workout</button>
  </div>
  <div *ngIf="!workouts.length  && !isLoading && workoutType == 'personal'" class="text-center" >
    No Workouts created yet
  </div>


  <mat-card class="m-3" *ngFor="let workout of workouts" [routerLink]="['/workoutDisplay', workout['_id']]">
    
    <!-- <a mat-button color="primary" [routerLink]="['/editClient', program['id']]">EDIT</a> -->

    <mat-card-title-group>
      <mat-card-title> {{workout.date |date:'EEEE,MMMM,d,y '}} </mat-card-title>
      <mat-card-subtitle> {{workout.name}} </mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      {{workout.description}}
    </mat-card-content>
  </mat-card>
</div>
