<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  class="d-flex justify-content-between m-2">
<!-- <button [routerLink]="['/fitness']" mat-raised-button color="warn" >Back</button> -->
<button *ngIf="isUserAdmin"  mat-raised-button color="primary" routerLink="/private/program" routerLinkActive="mat-accent"> Create Program</button>
</div>
<!-- <mat-accordion multi="true" *ngIf="programs.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let program of programs">
    <mat-expansion-panel-header>
      {{program.name}}
    </mat-expansion-panel-header>
    <div>
      <strong> Creator: </strong> {{program.description}}
    </div>



    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editWorkout', program['id']]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(program['id'])">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->


<div class="row" *ngIf="programs.length > 0 && !isLoading">
  <div class="col-6" *ngFor="let program of programs">
    <mat-card class="m-3" [routerLink]="['/private/programWorkout', program['id']]"   >
      <!-- <a mat-button color="primary" [routerLink]="['/editClient', program['id']]">EDIT</a> -->

      <mat-card-header>
        <mat-card-title> {{program.name}} </mat-card-title>
        <mat-card-subtitle> {{program.name}} </mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
        {{program.description}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p class="info-text mat-body-1" *ngIf="programs.length <= 0 && !isLoading">No Programs Added Yet</p>
