<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  class="d-flex justify-content-between m-3 align-items-center">
  <h2 class="m-0">Programs</h2>
<button *ngIf="isUserAdmin"  mat-raised-button class="d-none d-md-block" color="primary" routerLink="/private/program" routerLinkActive="mat-accent"> Create Program</button>
<button mat-icon-button  class=" d-md-none " routerLink="/private/program" routerLinkActive="mat-accent"> 
  <mat-icon>add_circle_outline</mat-icon>
</button>
</div>



<div class="" *ngIf="programs.length > 0 && !isLoading">
  <mat-card class="m-3" >
     

    <mat-nav-list *ngFor="let program of programs" class="p-0 " [routerLink]="['/private/programWorkout', program['id']]" >
      <mat-list-item class="">
  
        <!-- <a [routerLink]="['/private/workoutDisplay', workout['_id']]">{{workout.name}}</a> -->
        <!-- <p>{{workout.name}}</p> -->
        <span matListItemTitle>{{program.name}}</span>
        <span matListItemLine>{{program.description}} </span>
        <div matListItemMeta class="d-flex align-self-center">
          <mat-icon  >open_in_new</mat-icon>
  
        </div>
  
  
      </mat-list-item>
      <mat-divider ></mat-divider>
  
    </mat-nav-list>
  
  </mat-card>
</div>





<p class="info-text mat-body-1" *ngIf="programs.length <= 0 && !isLoading">No Programs Added Yet</p>
