<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class=" d-flex justify-content-between m-2">
  <!-- <button [routerLink]="['/fitness']" mat-raised-button color="warn">Back</button> -->

  <button mat-raised-button color="primary" routerLink="/private/client" routerLinkActive="mat-accent"> Create Client</button>
</div>
<mat-accordion multi="true" *ngIf="users.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      {{user.firstName}} {{user.lastName}}
    </mat-expansion-panel-header>
    <div>
      <strong> Email: </strong> {{user.email}}
    </div>
    <div>
      <strong>Role:</strong> {{user.role}}
    </div>



    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/private/editClient', user['id']]">EDIT</a>
      <button mat-button color="warn" (click)="openDelete(template, user)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel> 
</mat-accordion>
<mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="users.length > 0 "></mat-paginator>
<p class="info-text mat-body-1" *ngIf="users.length <= 0 && !isLoading">No Posts Added Yet</p>


<ng-template #template let-data>
  <h1> Delete {{data.user.firstName}} {{data.user.lastName}} </h1>
  <p> Are you sure you want to delete this Client?</p>
  <div class="d-flex justify-content-between">
    <button mat-raised-button mat-dialog-close >Cancel</button>
    <button mat-raised-button color="danger" (click)="onDelete(data.user.id)">Delete</button>
  </div>
 
 </ng-template>