<div class="p-5 text-center">
    <h3>Forgot Password</h3>
</div>

<mat-card   class="m-3 text-center">

  


    <form *ngIf="!codeSent && !verified" class="m-3" (submit)="sendCode(resendForm)" #resendForm="ngForm">
        <mat-card-title class="m-3" >
            Enter Email Address
        </mat-card-title>

        <mat-form-field appearance="outline">
            <input matInput name="email" ngModel #emailInput="ngModel" type="text" email required
                placeholder="Email address">
        </mat-form-field>
        <br>
    <button mat-raised-button  color="primary" type="submit">Send Code</button>

    </form>

    <form *ngIf="codeSent && !verified" class="m-3" (submit)="verify(form)" #form="ngForm">

        <mat-card-title class="mt-3 mb-5" >
            Enter Verification Code
        </mat-card-title>

        <mat-form-field appearance="outline">
            <input matInput name="code" ngModel #codeInput="ngModel" type="text" required
                placeholder="4 Digit Code">
        </mat-form-field>
        <br>
    <button mat-raised-button  color="primary" type="submit">Verify</button>

    <div>
        <button mat-button  (click)="resendCode()" > Resend Code  </button>
    </div>

    </form>

    <form *ngIf="verified" class="m-3" (submit)="newPassword(form)" #form="ngForm">

        <mat-card-title class="mt-3 mb-5" >
            Enter New Password
        </mat-card-title>

        <mat-form-field appearance="outline">
            <input matInput name="password" ngModel #passwordInput="ngModel" type="password" required
                placeholder="Password">
        </mat-form-field>
        <br>
    <button mat-raised-button  color="primary" type="submit">Submit</button>


    </form>

   

</mat-card>
