  <div class="d-flex justify-content-center   m-3">
    <!-- <button [routerLink]="['/fitness']" mat-raised-button color="warn">Back</button> -->
    <h2 >Personal Training</h2>
  </div>
<div *ngIf="workouts && !isLoading"> 

<div class="container">

</div>
  <div class="row justify-content-center">
    <div *ngIf="filterType != 'all'" class="col-sm-4 text-center align-self-center">
      <button mat-icon-button  (click)="changeDate('last')">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button (click)="changeDate('next')" >
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <div class="col-sm-4 text-center align-self-center">
      <p *ngIf="filterType =='month'" > {{dateStart | date:'MMMM'}} </p>
      <p *ngIf="filterType =='week'" >{{dateStart | date:'MMM d'}} - {{dateEnd | date:'d, y'}}</p>
    </div>

    <div class="col-sm-4 text-center align-self-center" >
      <mat-chip-listbox style="width: fit-content; margin: auto;" >
        <mat-chip-option [selected]="filterType == 'week'" (click)="selectDate('week')" >Week</mat-chip-option>
        <mat-chip-option [selected]="filterType == 'month'" (click)="selectDate('month')" >Month</mat-chip-option>
        <mat-chip-option [selected]="filterType == 'all'" (click)="selectAll()" >All</mat-chip-option>
  
      </mat-chip-listbox>
    </div>

  </div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="!workouts.length  && !isLoading" class="text-center" >
    No Workouts 
  </div>


  <mat-card class="m-3" >
     

    <mat-nav-list *ngFor="let workout of workouts" class="p-0 " [routerLink]="['/private/workoutDisplay', workout['_id']]">
      <mat-list-item class="">
  
        <!-- <a [routerLink]="['/private/workoutDisplay', workout['_id']]">{{workout.name}}</a> -->
        <!-- <p>{{workout.name}}</p> -->
        <span matListItemTitle>{{workout.name}}</span>
        <span matListItemLine>{{workout.date |date:'EEEE MMMM d y '}} </span>
        <div matListItemMeta class="d-flex align-self-center">
          <mat-icon  >open_in_new</mat-icon>
  
        </div>
  
  
      </mat-list-item>
      <mat-divider ></mat-divider>
  
    </mat-nav-list>
  
  </mat-card>
</div>
