<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="d-flex justify-content-between m-2">
  <button [routerLink]="['/fitness']" mat-raised-button color="warn">Back</button>
  <button mat-raised-button color="primary" routerLink="/workout" routerLinkActive="mat-accent"> Create Workout</button>
</div>
<mat-card class="m-2">
    <mat-card-header>
        <mat-card-title> <h6>Filters</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-between">

      
        <mat-label>Workout Type</mat-label>
        <mat-select [(ngModel)]="workoutType" (valueChange)="workoutTypeSelect($event)"   placeholder=""  >
          
          <mat-option value="all">All</mat-option>
            <mat-option value="client">Clients</mat-option>
            <mat-option value="program">Programs</mat-option>
        </mat-select> 
        <mat-label>Clients</mat-label>
        <mat-select [(ngModel)]="selectedClient" (valueChange)="clientSelect($event)"   placeholder="Clients"  >
         
          <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let user of users" [value]="user.id">  {{user.firstName}} {{user.lastName}} ({{user.email}}) </mat-option>
        </mat-select> 
        <mat-label>Programs</mat-label>
        <mat-select [(ngModel)]="selectedProgram" (valueChange)="programSelect($event)"   placeholder="programs"  >
          
          <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let program of programs" [value]="program.id">  {{program.name}} </mat-option>
        </mat-select> 
    </mat-card-content>
  
</mat-card>

<mat-accordion multi="true" *ngIf="workouts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let workout of workouts">
    <mat-expansion-panel-header>
      <div class="d-flex " >
        <div >
          <strong>
            {{workout.name}}
          </strong>
     

        </div>
        <div style="margin-left: 20px;" >
          <div  *ngIf="workout.program == null && workout.client == null ">
            Public
          </div>
          <div *ngIf="workout.program != null && workout.client == null ">
            Program Workout 
          </div>
          <div *ngIf="workout.program == null && workout.client != null ">
            Private
          </div>

        </div>
      

      </div>
    </mat-expansion-panel-header>
    <div>
      <strong> Creator: </strong> {{workout.creator}}
      <strong> Date: </strong> {{workout.date | date:'EEEE, MMMM d, y'}}
      <strong> Client: </strong> {{workout.client}}
      <strong> Program: </strong> {{workout.program}}



    </div>



    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editWorkout', workout['id']]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(workout['id'])">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalWorkouts" [pageSize]="workoutsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="workouts.length > 0 "></mat-paginator>
<p class="info-text mat-body-1" *ngIf="workouts.length <= 0 && !isLoading">No Posts Added Yet</p>
