<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <button [routerLink]="['/fitness']" class="m-2" mat-raised-button color="warn">Back</button>

  <form *ngIf="!isLoading" [formGroup]="workoutForm" (submit)="onSavePost()">
    <mat-form-field>
      <input matInput formControlName="workoutName" type="text" placeholder="Workout Name">
      <mat-error *ngIf="workoutForm.get('workoutName').invalid"> Please enter a workout name. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="">
      <mat-label>Workout date</mat-label>
      <input matInput [matDatepicker]="picker3" [value]="date.value">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Clients</mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.firstName}} {{user.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Programs</mat-label>
      <mat-select formControlName="program">
        <mat-option *ngFor="let program of programs" [value]="program.id">
          {{program.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>




    <h2>Update Workout!</h2>
    <button mat-raised-button color="accent" type="submit">Save Workout</button>
  </form>

</mat-card>


<!-- <mat-stepper orientation="vertical">
    <mat-step>
      <form [formGroup]="workoutForm">
        <ng-template matStepLabel>Create Workout</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Workout Name</mat-label>
          <input matInput formControlName="workoutName" placeholder="Workout Name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="addItemSection()">Next</button>
        </div>
      </form>
    </mat-step>
    <form [formGroup]="itemForm" *ngIf="sectionAdded == true">
      <mat-vertical-stepper formArrayName="item">
        <mat-step [formGroupName]="i" *ngFor="let item of getItem(); let i = index">
          <ng-template matStepLabel>Part {{i + 1}}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Workout">
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="addItem()">Next</button>
            <button mat-button matStepperNext (click)="removeItem(i)">remove</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-stepper> -->

<!-- <mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Step 1</ng-template>
    <ng-template matStepContent>
      <p>This content was rendered lazily</p>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>
    <ng-template matStepContent>
      <p>This content was also rendered lazily</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 3</ng-template>
    <p>This content was rendered eagerly</p>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-stepper> -->
