<mat-spinner class="text-center" *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" class="m-3">
    <h2 class="m-2">
        Welcome {{user.firstName}}
    </h2>
    <!-- <p> You have created {{reports.workoutNumber}} workouts </p> -->

    <div class="row justify-content-center">
        <div class="col-sm-4 text-center align-self-center">
            <button mat-icon-button (click)="changeDate('last')">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-icon-button (click)="changeDate('next')">
                <mat-icon>navigate_next</mat-icon>
            </button>

        </div>
        <div class="col-sm-4 text-center align-self-center">
            <p *ngIf="filterType =='month'" class="m-0"> {{date | date:'MMMM'}} </p>
            <p *ngIf="filterType =='week'" class="m-0">{{dateStart | date:'MMM d'}} - {{dateEnd | date:'d, y'}}</p>

        </div>
        <div class="col-sm-4 text-center align-self-center">
            <mat-chip-listbox style="width: fit-content; margin: auto;">
                <mat-chip-option [selected]="filterType == 'week'" (click)="getDates('week')">Week</mat-chip-option>
                <mat-chip-option [selected]="filterType == 'month'" (click)="getDates('month')">Month</mat-chip-option>

            </mat-chip-listbox>

        </div>

    </div>




    <div *ngIf="filterType == 'week'" class="cal">
        <div class="week">
            <div class="days" *ngFor="let day of weekDates" [ngClass]="{ today: today == day.date}">
                <span class="date">{{day.date |date:'EEE d'}}</span>
                <div class="contents">
                    <div class="content">
                        <div *ngFor="let workout of day?.workout" class="textHolder d-none d-md-block"
                           [ngClass]="{personal:workout.personalWorkout == true, pt: workout.client != null}" (click)="openWorkout(workout)">
                            <p class="text m-0">{{workout.name | titlecase}}</p>
                        </div>
                        <div class="iconHolder  d-md-none " (click)="openWorkout(day, workoutsDialog)" >
                            <mat-icon *ngIf="day.workout" class="icon">fitness_center</mat-icon>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filterType == 'month'" class="cal">
        <div *ngFor="let week of monthDates" class="week">
            <div class="days" *ngFor="let day of week"
                [ngClass]="{notMonth: day.isCurrentMonth == false, today: today == day.date}">
                <span class="date">{{day.date |date:'EEE d'}}</span>
                <div class="contents">
                    <div class="content">
                        <div *ngFor="let workout of day?.workout" class="textHolder d-none d-md-block"
                        [ngClass]="{personal:workout.personalWorkout == true, pt: workout.client != null}" (click)="openWorkout(workout)">
                            <p class="text m-0">{{workout.name | titlecase}}</p>
                        </div>
                        <div class="iconHolder  d-md-none" (click)="openWorkout(day, workoutsDialog)" >
                            <mat-icon *ngIf="day.workout" class=" icon">fitness_center</mat-icon>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #workoutsDialog let-data>
    <div class="m-2">
  
      <h3 class="text-center"> Select Workout </h3>
      <mat-nav-list *ngFor="let workout of data.workouts" class="p-0 " (click)="dialog.closeAll()" [routerLink]="['/private/workoutDisplay', workout['_id']]" >
        <mat-list-item class="">
    
          <!-- <a [routerLink]="['/private/workoutDisplay', workout['_id']]">{{workout.name}}</a> -->
          <!-- <p>{{workout.name}}</p> -->
          <span matListItemTitle>{{workout.name}}</span>
          <span matListItemLine>{{workout.date |date:'EEEE MMMM d y '}} </span>
          <div matListItemMeta class="d-flex align-self-center">
            <mat-icon  >open_in_new</mat-icon>
    
          </div>
    
        </mat-list-item>
        <mat-divider ></mat-divider>
    
      </mat-nav-list>
      <div class="d-flex m-2 justify-content-end">
        <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
        <!-- <button mat-raised-button color="danger" color="warn"
          (click)="deleteWorkout()">Delete</button> -->
      </div>
    </div>
  
  </ng-template>