<div class="p-5 text-center">
    <h3 *ngIf="!resend"> Enter Verification Code</h3>
    <h3 *ngIf="resend"> Enter Email Address</h3>
</div>

<mat-card *ngIf="!resend" class=" m-3 text-center">


    <form (submit)="verify(form)" #form="ngForm" class="m-3">
        <mat-form-field appearance="outline">
            <input matInput name="code" ngModel #codeInput="ngModel" type="text" required placeholder="4 Digit Code">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Verify</button>

    </form>

    <div>
        <button mat-button (click)="resendCode()"> Resend Code </button>
    </div>


</mat-card>



<mat-card *ngIf="resend" class="m-3 text-center">


    <form (submit)="sendResend(resendForm)" #resendForm="ngForm" class="m-3">
        <mat-form-field>
            <input matInput name="email" ngModel #emailInput="ngModel" type="text" email required
                placeholder="Email address">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Send Code</button>

    </form>

</mat-card>