
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <button class="m-2" mat-raised-button color="warn" (click)="goBack()">Back</button>
  <mat-card class="m-2">
    <mat-card-header>
      <mat-card-title> {{workout.date|date: 'EEEE, MMMM, d, y'}} </mat-card-title>
      <mat-card-subtitle>{{workout.name}}  </mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>

  <div *ngIf="items">
    <mat-card *ngFor="let i of items" class="m-2">
      <mat-card-header>
          <mat-card-title> {{i.name}} </mat-card-title>
      </mat-card-header>
      <mat-card-content style="white-space: pre-wrap;" >
          {{i.description}}
      </mat-card-content>
  
  </mat-card>

  </div>

</div>
