
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <!-- <div class="d-flex justify-content-between m-2">
    <button class="m-2" mat-raised-button color="warn" (click)="goBack()">Back</button>
    <div class="">
      <h2 class="d-block text-center" >{{workout.name}} </h2>
      <p class="d-block text-center"> {{workout.date|date: 'EEEE MMMM d y'}}</p>
    </div>
    <div>
    <button *ngIf="workoutType == 'personal'" mat-raised-button color="primary" [routerLink]="['/editWorkout', workout['id']]" [queryParams]="{type: workoutType}"> Edit</button>
    </div>
  </div> -->
  <div >
    
    <button class="float-end m-2"  *ngIf="workoutType == 'personal'" mat-raised-button color="primary" [routerLink]="['/editWorkout', workout['id']]" [state]="{type: ''}" [queryParams]="{type: workoutType}"> Edit</button>

    <button class="m-2 float-start" mat-raised-button color="warn" [routerLink]="['/myworkouts']" [queryParams]="{type: 'personal'}" >Back</button>
    <div class="text-center">
      <h2 class="d-block text-center" >{{workout.name}} </h2>
      <p class="d-block  text-center"> {{workout.date|date: 'EEEE MMMM d y'}}</p>
    </div>
  </div>


  <div *ngIf="workout.workoutItems">
    <mat-card *ngFor="let w of workout.workoutItems" class="m-2">
      <mat-card-header>
          <mat-card-title> {{w.name}} </mat-card-title>
      </mat-card-header>
      <mat-card-content style="white-space: pre-wrap;" >
          {{w.description}}
      </mat-card-content>

      
  
  </mat-card>

  </div>

</div>
